body {
    font-family: 'ProximaNovaLight', sans-serif;
    font-size: 133%;
    background-image: -webkit-radial-gradient(center center, #FFFFFF, #F5F5F5);
    overflow:hidden;
    margin:0;
    padding:0;
    height:100%;
    display: inline-block;
}
.col {
    float:left;
    width:50%;
}
h2.project_name { 
    position:absolute; 
    bottom:100px;
    left:100px;
    width:400px;
    text-align:center;
}
#project_list {
    background-color:#3E3C31;
    position:absolute;
    width:100%;
    bottom:-1em;
    height:3em;
    z-index:50;
}
#project_list li {
    float:left;
    list-style-type:none;
    background-color:#6C6B65;
    padding:0.5em;
    margin:0 0.5em;
}
#project_list li a {
    color:#fff;
    text-decoration:none;
}
#project_list li.active { background-color:#F2F2F2 }
#project_list li.active a { color:#575846 }

#add-project { 
    background-color:#6C6B65;
    border:none;
    font-size:1em;
    padding:0;
    margin:0;
    color:#fff;
}

.pledge_list li { 
  list-style-type:none;
  position:relative;
  font-size:2em;
  padding: 10px;
}
.pledge_list_container {position:absolute!important; top:0;right:0; bottom:3em; overflow-x:auto}
.pledge_list li .existing_pledge_amount { 
    float: right;
    right: 1em;
    font-family: 'ProximaNovaExtrabold', sans-serif;
}
.pledge_list li:nth-child(odd)    { background-color:#F6F6F5; }
.pledge_list li:nth-child(even)    { background-color:#FBFBFB; }
.pledge_input {
    position:absolute;
    z-index:51;
    bottom:1em;
    right:2em;
}
.pledge_input label {color:#525046}
.pledge_input input {
    background-color:#6C6B65;
    border:none;
    font-size:1em;
    color:#fff;
}

.graph {
    position: absolute;
    bottom: 150px;
    left: 0;
    height:500px;
    background-image:none;
}

.hidden_graph, .total { display:none; height:0}

@font-face {
    font-family: 'ProximaNovaExtrabold';
    src: url('../fonts/proximanova-extrabold-webfont.eot');
    src: url('../fonts/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-extrabold-webfont.woff') format('woff'),
         url('../fonts/proximanova-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-extrabold-webfont.svg#ProximaNovaExtrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaLight';
    src: url('../fonts/proxima_nova_light-webfont.eot');
    src: url('../fonts/proxima_nova_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_light-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_light-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_light-webfont.svg#ProximaNovaLight') format('svg');
    font-weight: normal;
    font-style: normal;

}
